.my-recipes {
  padding: 40px 40px;
  font-family: $mainFont;
  background-color: $bg;
  min-height: 49vh;
}

.my-recipes__filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.my-recipes__filter__card {
  width: 111px;
  height: 115px;
  color: $NavBg;
  border-radius: 20px;
  box-shadow: 2px 2px 4px lightgray;
  cursor: pointer;
  transition: all 0.2s ease;
  display: grid;
  place-items: center;
  &:hover {
    transform: scale(1.1);
  }
}

.my-recipes__filter__card p {
  color: $NavText;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.filter_icons {
  font-size: 24px;
  text-align: center;
}

.my-recipes__addButton {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.add {
  color: $NavBg;
}

.my-recipes__addButton__btn {
  background-color: $HightLight;
  font-family: $secFont;
  font-weight: bold;
  color: $NavBg;
  font-size: 16px;
  padding: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 4px lightgray;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: darken($color: $HightLight, $amount: 15);
  }
}

.fa-plus {
  margin-right: 8px;
}

.my-recipes__recipesLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 69px;
}
