//Colors
$NavBg: #fff;
$NavText: #000;
$HightLight: #5c9bdb;
$shadow: #efefef;
$red: #f24141;
$bg: #f8f7f3;
$greenCat: #6ebf8b;

//FONTS
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&family=Raleway:wght@300;500;700;800&display=swap");

$mainFont: "Be Vietnam Pro", sans-serif, impact;
$secFont: "Raleway", sans-serif, impact;
